.logoImage--desktop {      
  max-width: 500px; 
  width: 200px;
  height: 34px; 
} 

.container { 
  width: 1252px;     
}

.logoContainer {
  padding-left: 0px;  
}

.searchBarContainer {    
  width: 550px;               
}

.searchBarIcon--external-search {
  background-color: #441afa; 
}

.searchIcon { 
  color: white;  
}



